# Virtual Environment
.venv/

# Python
__pycache__/
*.py[cod]

# Environment Variables
.env

# OAuth Credentials
secrets/
*.json

# VS Code
.vscode/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db
.pytest_cache/
